<div class="container">
 <%= render 'show', user: @user, post: @post, post_tags: @post_tags %>
 <%= render 'comments', post_comments: @post_comments, post: @post, post_comment: @post_comment %>
</div>