<div class="container">
  <div class="row mt-5">
    <div class='mx-auto'>

    <h1 class = "text-center mt-3 mb-3 bg-warning">好きを伝える</h1>
     <p class="text-center">
      <!--<div class="text-center">
       <%#= image_tag 'about.jpeg', size: "400x200" %>
      </div>-->
      このサイトでは、自分の周りには理解されないこともサイトを通して<br>
      自分の好きを理解してもらえる人と関わることのできるコミュニティサイトとなっております。<br>
      <strong>周りになかなか共感してくれる人がいない。</strong><br>
      <strong>誰かと共有してお話ししたい！</strong><br>
      などなど<br>
      そんな気持ちをここで共感してくれる方とお話ししていただければと思っています。<br>
     </p>


  </div>
 </div>
</div>