 <div class="container">
    <div class="row mt-5">
      <div class="col-md-2">
       <table class="table table-bordered" style="width: 12rem;">
          <thead>
            <tr>
              <td>タグ一覧</td>
            </tr>
          </thead>
          <tbody>
            <%# genres.each do |genre| %>
            <tr>
             <td>
             <%#= link_to item_search_path(genre) do %>
              <%#= genre.name %>
             <%# end %>
             </td>
            </tr>
            <%# end %>
          </tbody>
        </table>
      </div>
      <div  class='col-md-9 offset-1'>
        <div class = "top-image text-left ml-4">
        <%= image_tag'top.jpeg', size:"625x325" ,style:"position: relative;" %>
            <p style="position:absolute; top:100px; left:200px; color:#FFF; background-color:rgba(0,0,0,0.3);">
          ようこそ、Likeshareへ！<br>
          このサイトでは、自分の好きを共有できる<br>
          コミュニティサイトとなっております。<br>
          自分の趣味など好きなことを投稿して<br>
          新しいお友達を探しましょう！</p>
        </div>
         <div class="row mt-5">
          <div class="col-7"><h4><strong>　会員の方はこちらから　→→</strong></h4></div>
          <%= link_to 'ログイン',new_user_session_path, class: "btn btn-info mb-3" %>
        </div>
        <div class="row mt-3">
          <div class="col-7"><h4><strong>新規会員登録はこちらから→→</strong></h4></div>
          <%= link_to '新規会員登録',new_user_registration_path, class: "btn btn-success md-3" %>
        </div>
        <div class="row mt-4">
          <div class="col-7"><h4><strong>ゲスト(閲覧用)はこちらから→→</strong></h4></div>
          <%= link_to 'ゲストログイン', users_guest_sign_in_path, class: "btn btn-secondary mb-3", method: :post %>
        </div>
      </div>
     </div>
    </div>
  </div>