<div class="ml-3 mt-3">
 <!--post.rbで定義したfavorited_by?を呼び出す-->
 <% if @post.favorited_by?(current_user) %> 
  <!--一致するレコードが存在する＝すでにいいね済みの場合はdestroyアクションへ-->
  <%= link_to post_favorites_path(@post.id), method: :delete do %>
   いいねを外す<i class="fas fa-heart" aria-hidden="true" style="color: red;"></i>
  <% end %>
 <% else %>
  <!--一致するレコードが存在しない＝まだいいねしていない場合はcreateアクションへ-->
  <%= link_to post_favorites_path(@post.id), method: :post do %>
   いいねする<i class="fas fa-heart" aria-hidden="true"></i>
  <% end %>
 <% end %>
</div>